<div class="resolicion">
    <div class="destock">
        <nav class="navbar navbar-expand-lg colorprimary" >
            <div class="container-fluid" style="align-items: center;">
              <a class="navbar-brand colorprimary" style="padding-left:45%;"  ><h2 style="padding-left:50%;">Tif</h2></a>
            </div> 
          </nav> 
          <div class="col-12 row mb-4">
            <div class="col-7"></div>
            <div class="col-5 row">
              <div class="col-6" *ngIf="permisos == 'D' || permisos == 'C'">
                <button type="button" style="min-width:80px; color:white; background:#0146af" class="btn  col-10 colorprimary mt-4" (click)="RegistrarTiff()">Registrar</button>
              </div>
             
            </div>     
          </div>
          <div class="col-12 row"> 
            <div class="col-9" align="end">
              <button class="btn" (click)="mostrarfiltro()" data-toggle="tooltip" data-placement="right" title="Precione para desplegar los filtros">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                  <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                    <path d="M747 4469 c-162 -38 -297 -178 -337 -348 -24 -103 4 -245 68 -339 15 -22 363 -410 774 -862 l748 -822 2 -798 c3 -789 3 -799 24 -826 49 -67 130 -91 195 -60 19 9 221 166 449 349 299 239 420 342 432 367 16 32 18 77 18 502 l0 466 663 729 c364 401 707 778 761 838 110 122 151 194 169 300 29 171 -60 360 -214 452 -112 67 11 63 -1944 62 -1002 -1 -1786 -5 -1808 -10z m3580 -326 c50 -23 80 -91 64 -143 -8 -27 -204 -250 -782 -886 -424 -467 -778 -860 -788 -874 -14 -21 -17 -80 -21 -494 l-5 -469 -230 -188 c-126 -103 -233 -188 -237 -188 -5 -1 -8 290 -8 647 -1 591 -2 650 -18 678 -9 18 -361 411 -782 874 -421 463 -773 856 -782 873 -34 60 -15 131 45 167 31 20 64 20 1770 20 1607 0 1742 -1 1774 -17z"/>
                  </g>
                </svg>
              </button>
            </div>

  <!--filtros-->
  <div style="position:relative;left: 10%;" align="center" class="col-11 row" *ngIf="mostrar == false">
    <form [formGroup]="reactiveForm" class="card row col-11">
      <div class="row" style="justify-content: center; padding-left:1%; padding-right:1%;">
        <div class="mb-3 col-3 mt-3">
          <label>Tiff</label>
          <input (keyup)="filtro(reactiveForm.value.tTiff)" [(ngModel)]="reactiveForm.value.tTiff" formControlName="tTiff" class="form-control" id="tTiff" placeholder="Tiff" >
        </div>
        <div class="mb-3 col-3 mt-3">
          <label>Nombre</label>
          <input (keyup)="filtro(reactiveForm.value.tNombre)" [(ngModel)]="reactiveForm.value.tNombre" formControlName="tNombre" class="form-control" id="tNombre" placeholder="Nombre" >
        </div>
        <div class="mb-3 col-3 mt-3">
          <label>Estado</label>
          <input (keyup)="filtro(reactiveForm.value.tEstado)" [(ngModel)]="reactiveForm.value.tEstado" formControlName="tEstado" class="form-control" id="tEstado" placeholder="Estado" >
        </div>
        <div class="mb-3 col-3 mt-3">
          <label>Ciudad</label>
          <input (keyup)="filtro(reactiveForm.value.tCiudad)" [(ngModel)]="reactiveForm.value.tCiudad" formControlName="tCiudad" class="form-control" id="tCiudad" placeholder="Ciudad" >
        </div>
      </div>
    </form>
  </div>
          </div> 
  <!--filtros-->

          <div class="container mt-4">
            <div class="row col-lg-12 text-center" style="margin-left: 0px;">
              <label><strong class="labelPrimary">Registros encontrados: {{dataSource ?  dataSource.length : 0}} </strong></label>
            </div>
            <div *ngIf="dataSource " style="overflow-y: auto; min-height: 350px;">
              <table matSort mat-table  [dataSource]="dataSource" class=" container table table-striped mat-elevation-z8 full-data-table" >      
                <ng-container matColumnDef="E">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary"><h6 style="position:relative; top:-9px;">E</h6></th>
                  <td mat-cell *matCellDef="let element"> 
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <button class="dropdown-item" *ngIf="permisos == 'D' || permisos == 'C'" [disabled]="element!.Estatus === 'Terminado'" class="dropdown-item" (click)="EditarTif(element!.ecodTif)">Editar</button>
                      </li>
                    </ul>
                  </td>
                </ng-container>
                <ng-container matColumnDef="Estado">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary"  mat-sort-header sortActionDescription="Sort by Estado" ><h6 style="position:relative; top:-9px;">Estado</h6></th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;padding: 10px;">{{element.Estado}}</td>
                </ng-container> 
                <ng-container matColumnDef="Ciudad">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary" mat-sort-header sortActionDescription="Sort by Ciudad"><h6 style="position:relative; top:-9px;">Ciudad</h6></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;padding: 10px;">{{element.Ciudad}}</td>
                  </ng-container> 
                  <ng-container matColumnDef="tTif">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary" mat-sort-header sortActionDescription="Sort by tTif"><h6 style="position:relative; top:-9px;">tTif</h6></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;padding: 10px;">{{element.tTif}}</td>
                  </ng-container> 
                  <ng-container matColumnDef="tNombre">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary"  mat-sort-header sortActionDescription="Sort by tNombre" ><h6 style="position:relative; top:-9px;">Nombre</h6></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;padding: 10px;">{{element.tNombre}}</td>
                  </ng-container> 
                  <ng-container matColumnDef="tNombreCorto">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary"  mat-sort-header sortActionDescription="Sort by tNombreCorto" ><h6 style="position:relative; top:-9px;">Nombre corto</h6></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;padding: 10px;">{{element.tNombreCorto}}</td>
                  </ng-container>
                  <ng-container matColumnDef="tRFC">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary"  mat-sort-header sortActionDescription="Sort by tRFC" ><h6 style="position:relative; top:-9px;">RFC</h6></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;padding: 10px;">{{element.tRFC}}</td>
                  </ng-container>
                  <ng-container matColumnDef="tcp">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="colorprimary"  mat-sort-header sortActionDescription="Sort by tcp" ><h6 style="position:relative; top:-9px;">C.P.</h6></th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;padding: 10px;">{{element.tcp}}</td>
                  </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
                <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
              </table> 
            </div>
            <mat-paginator class="mat-select-valuecons" style="background:#404040; color:white;" #paginator  showFirstLastButtons   [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>  
          </div>
    </div>
    <!-- MOVIL
    --------------------------------------------------------------------------------------------------------------------------------------------
    -->
      <div class="movil">
        <nav class="navbar navbar-expand-lg colorprimary" >
          <div class="container-fluid" style="align-items: center;">
            <a class="navbar-brand colorprimary" style="padding-left:40%;"><h3>Tif</h3></a>
          </div> 
          <div style="position: absolute; left:75%; ">
            <button style="padding-right:100px" type="button" class="dropdown-item btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" color="#fff" class="bi bi-h-circle" viewBox="0 0 16 16">
                <path d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8Zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0Zm-5-3.998V12H9.67V8.455H6.33V12H5V4.002h1.33v3.322h3.34V4.002H11Z"/>
              </svg>        
            </button>
           
          </div>  
        </nav>
        <div style="padding-left: 1%; padding-right: 1%;  margin-top: 1em">
          <div class="row" style="display: flex; --bs-gutter-x:0rem">
            <div class="col-12" *ngIf="permisos == 'D' || permisos == 'C'">    
              <a type="button" style="min-height:45px; border-radius: 0px; color:white; background:#3f951c; border-color:#285299; border-block-start:none; border-bottom-width:revert; border-left:none;" class="btn col-12" (click)="RegistrarTiff()">Registrar</a>
            </div>
            <div class="col-12 row mb-2">
              <div class="col-10"></div>
              <!--boton filtro-->
              <div class="col-2 mt-2">
                <button class="btn" (click)="mostrarfiltro()">
                  <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 512.000000 512.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#000000" stroke="none">
                      <path d="M747 4469 c-162 -38 -297 -178 -337 -348 -24 -103 4 -245 68 -339 15 -22 363 -410 774 -862 l748 -822 2 -798 c3 -789 3 -799 24 -826 49 -67 130 -91 195 -60 19 9 221 166 449 349 299 239 420 342 432 367 16 32 18 77 18 502 l0 466 663 729 c364 401 707 778 761 838 110 122 151 194 169 300 29 171 -60  360 -214 452 -112 67 11 63 -1944 62 -1002 -1 -1786 -5 -1808 -10z m3580 -326 c50 -23 80 -91 64 -143 -8 -27 -204 -250 -782 -886 -424 -467 -778 -860 -788  -874 -14 -21 -17 -80 -21 -494 l-5 -469 -230 -188 c-126 -103 -233 -188 -237  -188 -5 -1 -8 290 -8 647 -1 591 -2 650 -18 678 -9 18 -361 411 -782 874 -421  463 -773 856 -782 873 -34 60 -15 131 45 167 31 20 64 20 1770 20 1607 0 1742  -1 1774 -17z"/>
                    </g>
                  </svg>
                </button>
              </div>
            </div>
          </div> 
           <!--filtros-->
           <div style="position:relative;left: 10%;" align="center" class="col-11 row" *ngIf="mostrar == false">
            <form [formGroup]="reactiveForm" class="card row">
              <div class="row" style="justify-content: center; padding-left:1%; padding-right:1%;">
                <div class="col-6">
                  <label>Tiff</label>
                  <input (keyup)="filtro(reactiveForm.value.tTiff)" [(ngModel)]="reactiveForm.value.tTiff" formControlName="tTiff" class="form-control" id="tTiff" placeholder="Tiff" >
                </div>
                <div class="col-6">
                  <label>Nombre</label>
                  <input (keyup)="filtro(reactiveForm.value.tNombre)" [(ngModel)]="reactiveForm.value.tNombre" formControlName="tNombre" class="form-control" id="tNombre" placeholder="Nombre" >
                </div>
                <div class="col-6">
                  <label>Estado</label>
                  <input (keyup)="filtro(reactiveForm.value.tEstado)" [(ngModel)]="reactiveForm.value.tEstado" formControlName="tEstado" class="form-control" id="tEstado" placeholder="Estado" >
                </div>
                <div class="col-6">
                  <label>Ciudad</label>
                  <input (keyup)="filtro(reactiveForm.value.tCiudad)" [(ngModel)]="reactiveForm.value.tCiudad" formControlName="tCiudad" class="form-control" id="tCiudad" placeholder="Ciudad" >
                </div>
              </div>
            </form>
          </div> 
          <!--filtros-->
          <div class="container">
            <div *ngIf="dataSourceMovil" style="overflow-y: auto; min-height: 350px;">   
              <table matSort mat-table [dataSource]="dataSourceMovil" class="container table table-striped mat-elevation-z8 full-data-table" >    
                <ng-container matColumnDef="E">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;" style=" background:#0146af"><h6 style="position:relative; top:-9px; color:white;">E</h6></th>
                  <td mat-cell *matCellDef="let element" style="padding-left: 10px;"> 
                    <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                      <svg xmlns="http://www.w3.org/2000/svg" color="#0146af" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                      </svg>
                    </button>
                    <ul class="dropdown-menu">
                      <li>
                        <button class="dropdown-item" *ngIf="permisos == 'D' || permisos == 'C'" [disabled]="element!.Estatus === 'Terminado'" class="dropdown-item" (click)="EditarTif(element!.ecodTif)">Editar</button>
                      </li>
                    </ul>
                  </td>
                </ng-container>
                <ng-container matColumnDef="ecodTiff">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;" style="color:white; background:#0146af"></th>
                  <td mat-cell *matCellDef="let element" style="text-align: center;"> 
                    <mat-expansion-panel class="mat-expansion-panelcliente" hideToggle style="box-shadow:none;color: #0146af;font-size:13px; background:rgba(0,0,0,-1.4);">
                      <hr>
                      <mat-expansion-panel-header style=" padding:0px;">  
                        <mat-panel-title style="color: #0146af; min-width:35%; font-size:13px; flex-basis:2">
                          <p class="mt-3">{{element.tTif}}</p>    
                        </mat-panel-title>
                        <mat-panel-description align="end">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                          </svg>
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                        Nombre: {{element.tNombre}}<br>
                        <div *ngIf="element.tRFC != null">
                          <hr>
                        
                          RFC: {{element.tRFC}} <br>
                        <hr>
                        </div>
                       
                        <div *ngIf="element.tcp != null">
                          C.P.: {{element.tcp}}
                        </div>
                         <br>
                         <div *ngIf="element.nCalle != null">
                          No. Calle: {{element.nCalle}}
                        </div>
                       
                        <hr>
                        Estado: {{element.Estado}} <br>
                        Ciudad:{{element.Ciudad}}
                      </mat-expansion-panel>  
                    </td>
                  </ng-container>  
                  <tr mat-header-row *matHeaderRowDef="columnsToDisplayMovil"></tr>
                  <tr mat-row *matRowDef="let row; columns: columnsToDisplayMovil;"></tr>
                </table>
                <mat-paginator style="background:#423d3d; color:white;" #paginator2 showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
          </div>  

        </div>
      </div>
    </div>